html
    head

    body
        h1 Hello World!

        if user != null
            p Hi there, #{user}!  file submitted.  Thanks!
        else
            p Hi there, unknown person!  You didn't enter a username.  Please resubmit.